footer {
  margin: 0;
  padding: 0;
  background-color: #353434;
  color: #858484;

}

footer ul {
  display: flex;
  flex-direction: column;
}

footer li {
display: flex;
flex-direction: column;
}

footer a {
  color: rgb(156, 155, 155);
}

