.wrapperGallery {
  display: flex;
  // flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 1em 0 0;
}

.galleryItem {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 160px;
  min-width: 160px;
  // max-width: 230px;
  max-width: 100%;

  background-color: white;
}

.img {
  flex: 1;
  object-fit: cover;
}

.desc {
  padding: 10px;
  text-align: center;
  border: 1px solid rgb(204, 204, 204);
}

.galleryTitel {
  padding: 0;
  text-align: center;
  margin: 2em 0 0;
}
