
.wrapper {
display: grid;
grid-auto-flow: row;
grid-template-columns: 1fr;
grid-template-rows: max-content;
}


/*------ POSLEDNA ULOHA------*/

.poslednaUloha{
  display: grid;
  margin: 2em 0;
  h2, h3{
    text-align: center; 
  }
  h2{
    margin: 0.5em 0;
  }

    img {
      margin: 0 auto;
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    align-self: center;
  }
}

// .poslednaUloha {
//   display: grid;
//   // grid-template-columns: repeat(auto-fit, minmax(50px,1fr));
//   grid-template-columns: auto 1fr;
//   // zapisat ako sa mi ich tam podarilo dat -  grid-template-columns: auto 1fr;
//   gap: 3rem;
//   margin: 3em 0;

//   img {
//     object-fit: cover;
//     width: 150px;
//     height: 150px;
//     border-radius: 50%;
//     align-self: center;
//   }
// }

/*  ----- BLBOSTI------*/

.mainTitel {
  text-align: left;
//   padding: 0 25px;
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: #f7f7f7;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman",
    serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 39.6px;
  text-align: center;
  font-size: 40px;
  font-weight: 1000;
}

h2 {
  //   padding: 0 25px;
  margin: 0 0 30px;
}

h3 {
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman",
    serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
  //   padding: 0 25px;
}

p {
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman",
    serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 24px;
  //   padding: 25px;
}
