.mainBar {
  padding: 0 3em;
}
.mainSection,
.side {
  background-color: white;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.mainImage{
    width: 100%;
    max-height: 150px;
    object-fit: cover;
    object-position: bottom;

  }