aside {
  background-color: white;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.side aside {
  margin: 0px 0 0;
}
.side  {
  display: grid;
  gap: 30px;
  margin: 30px 0 0;
}
.bok{
  display: flex;
  flex-direction: column;

}


.side img {
max-height: 200px;
object-fit: cover;
object-position: top;
max-width: 100%;

}

.side {
  .sideTextWrapper {
      padding: 1rem ;
      h2{
        text-align: center;
      }
  }
}
