/*  */


/* HEADER 2*/
.header {
    background: url('../images/images.jpg') no-repeat center;
    height: 400px;
    width: 70%;
    margin: 0 auto;
    background-size: 100% 100%;
}

.top {
    display: flex;
    align-items: center;
    color: white;

}

.we {
    background: red;
    padding: 20px;
    margin: 10px;
}

.header .button,
.header .titel {
    color: white;
    text-align: center;
    margin: auto;
}

.header .titel {
    margin: 120px 0 30px;

}

.header .button {
    padding: 8px 20px;
    border-radius: 3px;
    border: 1px solid white;
    max-width: 300px;
}


.menu {
    margin-left: auto;

    margin-right: 40px;

    /* background: url('../images/menu-black-18dp.svg') no-repeat; */
}
.menu .menuText{
    font-size: 13px;
    position: relative;
    top: -8px;
    right: -5px;
    font-weight: bold; 
}

.menu .material-icons {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 50px;
}

/* MAIN 2 */
.inBetween {
    text-align: center;
    width: 40%;
    margin: auto;
    background: url('../images/done-black-36dp.svg') no-repeat 300px 50px  ,
        url('../images/face-black-18dp.svg')no-repeat 200px 50px,
        url('../images/fingerprint-black-18dp.svg') no-repeat 400px 50px;
    background-size: 50px;

}

.inBetween p {
    padding: 150px 0 0;
    margin: 0;
}

.inBetween h1 {
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: solid 1px gray;
    margin-top: 40px;
}

body {
    font-family: 'Arapey', serif;
    font-family: 'Josefin Slab', serif;

}

.grid {
    font-family: 'Arapey', serif;
    display: grid;
    gap: 20px 40px;
    width: 70%;
    grid-template-columns: 50% 50%;
    grid-auto-columns: auto;
    margin: 0 auto 50px;
    align-items: center;
    justify-content: center;

}

.grid h3 {
    margin: 5px 0;
}

/* HEADER 1*/
header li {
    display: inline-block;
    margin: 0 30px;
    color: white;
    padding: 8px 15px;
}

header ul {
    margin: 0;
    text-align: center;
    padding: 20px 0;

}

header {
    background-color: red;
    margin: 0 auto;
}

header li:hover {

    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15%;

}

/* SECTION 1 */

.main {
    background: url('../images/abc.jpg') no-repeat center 100px;
    height: 500px;
}

section .kratkyText {
    margin: 30px auto 100px;
    text-align: center;
    width: 40%;
}

section .kratkyText h1 {
    color: red;

}

section .button {
    background: rgba(255, 0, 0, 1);
    width: 20%;
    margin: auto;
    color: white;
    border-radius: 5px;
}

/* FOOTER 1*/
footer {
    background: red;
}

footer .info {
    text-align: center;
    margin: auto;
    padding: 450px 0 50px;
    background: url('../images/abc.jpg') no-repeat center 50px;
}